.container{
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0 auto; 
}
.login_form{
    width: 300px;
    margin: 0 auto;
}
.login_footer{
    display: flex;
    flex-direction: column;
}
.login_form_button {
    width: 100%;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    flex-direction: column;

}
.logo span{
    color: #3A1C9E;
    font-size: 20px;
}
.logo hr{
    background-color: #3A1C9E;
    width: 130px;
    margin: -1px;
}
